# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

google-client-secret.json
google-api-key
.env
/client_secret_485936092108-b4kvdfo5b5ttm1mp79hvc8smn73efda7.apps.googleusercontent.com.json
/src/out-2.json
/src/out.json
/index_old.html
/.yarn/cache/
/src/messages.json
/src/grr.json
