.container {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px); /* Adjust according to AppBar height */
    overflow: hidden;
}

.senders-view, .emails-view {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.senders-view {
    transform: translateX(0);
}

.emails-view {
    transform: translateX(100%);
}

.container.emails .senders-view {
    transform: translateX(-100%);
}

.container.emails .emails-view {
    transform: translateX(0);
}
